@model IEnumerable<OjelmoinninJatkokurssinLopputehtava.Models.Henkilot>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <!--@Html.ActionLink("Create New", "Create")-->
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Henkilo_id)
        </th>
        <!--
        <th>
            @Html.DisplayNameFor(model => model.Etunimi)
        </th>
        -->
        <th>
            <!--@Html.DisplayNameFor(model => model.Sukunimi)-->
            Nimi
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Osoite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Esimies)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Henkilo_id)
        </td>
        <!--
        <td>
            @Html.DisplayFor(modelItem => item.Etunimi)
        </td>
        -->
        <td>
            @Html.DisplayFor(modelItem => item.Etunimi) @Html.DisplayFor(modelItem => item.Sukunimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Osoite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Esimies)
        </td>
        <td>
            @Html.ActionLink("Projektitunnit", "Projektitunnit", new {  henkilo_id = item.Henkilo_id  }, null)

            <!--
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            -->
        </td>
    </tr>
}

</table>
